<div class="card">
  <div class="cardTimeRow">18.04.2024 | 12:00 PM</div>
  <div class="flagTextContainer">
    <img src="./assets/images/indianFlag.png" alt="">
    <span>Indian Premier League</span>
  </div>
  <div class="match">
    <div class="matchLeft">
      <img src="./assets/images/delhiCapitals.png" alt="" class="image">
      <p class="teamName">Delhi Capitals</p>
      <div class="points">2.48</div>
    </div>
    <div class="matchRight">
      <img src="./assets/images/RajRoyals.png" class="image" style="width: 62px;" >
      <p  class="teamName">Rajsthan Royals</p>
      <div class="points">1.54</div>
    </div>
  </div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quis illo molestias vel tenetur aspernatur reiciendis et nostrum temporibus nisi, quos, beatae aliquam commodi veniam, excepturi voluptatibus totam ab! Esse fuga nemo reprehenderit accusantium nihil atque ullam dicta quibusdam suscipit asperiores beatae cum quisquam doloremque ducimus, provident dolorem. Ab ad maxime animi voluptatibus officiis voluptatum delectus eveniet ut veritatis, nesciunt ipsa, tenetur reiciendis. Ut dolor, numquam perferendis accusantium alias quia? Odit animi quos officiis delectus fugit omnis illo, tempora velit. Vero quod dicta voluptate alias natus nihil tempore suscipit id, eos, saepe minus totam sequi rerum ex iusto, doloribus optio?</div>

</div>