<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="headerBox">
        <div class="logo">10XB</div>
        <div class="textBox">
          <span id="signIn">SIGN IN</span>
          <span id="register">REGISTER</span>
          <ion-icon name="menu-outline"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="temp">111</div>
<div class="scrollableListBox"><ul>
  <li style="margin-left: -22px;">Live</li>
  <li>IPL 2024</li>
  <li>Sports</li>
  <li>Aviator Actual</li>
  <li>Casino</li>
  <li>Games</li>
  <li>Jackpot</li>
  <li>Live Casino</li>
  <li>Poker</li>
  <li>Esports</li>
  <li>Tv Games</li>
  <li>Virtual Sports</li>
  <li>Promotions</li>
</ul></div>
 
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-slides
    [pager]="true"
    [scrollbar]="true"
    [options]="options"

    (ionSlideWillChange)="slideWillChange()"
    (ionSlideDidChange)="slideDidChange()"

    #slidesRef
  >
    <ion-slide><img src="./assets/images/cricImage.jpeg" alt=""></ion-slide>
    <ion-slide><img src="./assets/images/cricImage2.jpeg" alt=""></ion-slide>
    <ion-slide><img src="./assets/images/cricImage3.jpeg" alt=""></ion-slide>
    <ion-slide><img src="./assets/images/cricImage4.jpg" alt=""></ion-slide>
    <ion-slide><img src="./assets/images/cricImage5.png" alt=""></ion-slide>
  </ion-slides>

  <!-- featured games -->
  <div class="fgLabel"><span>Featured Games</span></div>
  
  <div class="fG-cardsConatianer">
    <app-featured-games></app-featured-games>
  </div>
</ion-content>
